@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-detail-page{
    width: 100%;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}
.product-detail-img{
    width: 50%;
    height: 650px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.product-detail-img img{
    width: 85%;
    height: 100%;
}
.product-detail{
    width: 50%;
    height: auto;
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
}
.product-detail-title1{
    display: none;
}
.product-detail-title2{
    width: 100%;
    height: auto;
    font-size: 1.6em;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    color: black;
}
.product-detail-rating1{
    display: none;
}
.product-detail-rating2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 6px;
}
.rating-msg{
    font-size:1.2em;
    color:#007185;
    font-weight:600;
    font-family:"Poppins";
}
.total-rating{
    font-size:0.8em;
    color:#007185;
    font-weight:600;
    font-family:"Poppins";
    background-color:#e6e6e6;
    padding:5px 10px;
    border-radius:10px;
}
.product-detail-price{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 8px;
}
.mrp{
    color:black;
    font-size:1.2em;
    text-align: left;
    font-family: 'Poppins';
    padding:0 0 0 20px;
    font-weight:600;
}
.deal-of-the-day{
    color:#666666;
    font-size:1.2em;
    text-align:left;
    font-family: 'Poppins', sans-serif;
    padding:0 0 0 20px;
}
.product-discount{
    width: 100%;
    height: 4.2vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 2.5em;
}
.free-delivery{
    width: 195px;
    height: 25px;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.product-detail-description{
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.product-detail-description h3{
   color: black;
   font-family: "Poppins";
   padding: 4px 8px;
}
.product-detail-description ul{
    padding-left: 10px;
}
.product-detail-description ul li{
    padding: 3px;
    font-size: 1em;
    font-family: "Poppins";
    font-weight: 500;
    text-align: left;
}
.product-detail-price-address{
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.product-detail-time{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   padding: 5px;
   font-size: 1.2em;
   font-family: sans-serif;
}
.product-address{
    width: 100%;
    height: auto;
    padding: 5px;
    font-size: 0.9em;
    font-family: "Poppins",sans-serif;
    font-weight: 600;
    color: black;
    display: flex;
    flex-direction: column;
}
.delivery-state{
    color:#0033cc;
    font-weight:600;
}
.delivery-time{
    color:black;
    padding-left:5px;
}
.product-detail-add-buy{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 10px 0;
}
.add-to-cart-btn{
    width: 250px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    border: 2px solid rgba(100, 100, 111, 0.04);
    outline: none;
    font-size: 1.2em;
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 8px 0;
    cursor: pointer;
}
.buy-now-btn{
    width: 250px;
    height: 40px;
    background-color: black;
    color: whitesmoke;
    border: none;
    outline: none;
    font-size: 1.2em;
    font-family: "Poppins";
    font-weight: 600;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 8px 0;
    cursor: pointer;
}
.product-detail-RDWS{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
.RDWS{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}
.rdws-icon{
    width: 45px;
    height: 45px;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
}
.rdws-info{
    width: 100%;
    height: auto;
    font-size: 1em;
    font-family: "Poppins";
    font-weight: 500;
    text-align: center;
    color: black;
}
.separator-line{
    border-top: 1px solid #ccc;
    border-left: none;
    border-bottom: none;
    border-right: none;
 }
 .recommend-comp{
     width: 100%;
     height: 450px;
     margin: 1em 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-evenly;
 }
 .product-related-to-item{
     width: 95%;
     height: 380px;
     overflow-y: hidden;
     overflow-x: auto;
 }
 .product-related-to-item ul{
     display: inline-flex;
     list-style: none;
 }
 .product-related-to-item ul li{
     width: auto;
     height: auto;
     margin: 8px 12px;
     cursor: pointer;
 }

 /* css for other devices */
 @media screen and (max-width:1030px){
     .product-detail-img {
         height: 580px;
     }
     .product-detail-title2{
         font-size: 1.2em;
     }
     .rating-msg{
         font-size: 0.8em;
     }
     .total-rating{
         font-size: 0.74;
     }
     .product-detail-add-buy{
         width: 100%;
     }
 }

 @media screen and (max-width : 850px){
     .product-detail-page{
         flex-direction: column;
     }
     .product-detail-img{
         width: 100%;
         height: 750px;
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
     }
     .product-detail-img img{
         width: 80%;
     }
     .product-detail{
         width: 100%;
     }
     .product-detail-title2{
         font-size: 1.5em;
     }
     .rating-msg{
         font-size: 1em;
     }
     .product-detail-size-qty-data{
         width: 50%;
     }
     .product-related-to-item{
         width: 95%;
     }
 }

 @media screen and (max-width:430px){
     .product-detail{
         padding: 1em 1em 2em 1em;
     }
     .product-detail-title1{
         width: 100%;
         height: auto;
         display: block;
         font-size: 1em;
         font-weight: 600;
         font-family: 'Poppins',sans-serif;
         color: black;
         padding: 10px;
     }
     .product-detail-title2{
         display: none;
     }
     .product-detail-rating1{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px 6px;
     }
     .product-detail-rating2{
         display: none;
     }
     .rating-msg{
         font-size: 0.8em;
     }
     .product-detail-img{
         height: 380px;
         margin-top: 1em;
     }
     .product-detail-img img{
         width: 80%;
         height: 100%;
     }
     .mrp{
         font-size: 1.4em;
     }
     .deal-of-the-day{
         font-size: 1.3em;
         color: #333;
     }
     .delivery-state{
         font-size: 0.85em;
     }
     .delivery-time{
         font-size: 0.88em;
     }
     .add-to-cart-btn{
         width: 330px;
         height: 50px;
     }
     .buy-now-btn{
         width: 330px;
         height: 50px;
     }
     .RDWS{
         width: 24%;
     }
     .rdws-icon{
         width: 40px;
         height: 40px;
     }
     .rdws-info{
         font-size: 0.8em;
     }
     .product-detail-size-qty-data{
         width: 100%;
     }
 }

 @media screen and (max-width: 395px){
    .product-detail-time{
        flex-direction: column;
        padding: 8px 5px;
    }
    .delivery-state{
        font-size: 0.95em;
    }
    .delivery-time{
        font-size: 1em;
    }
 }

 @media screen and (max-width: 376px){
    .product-detail-title1{
        font-size: 0.9em;
    }
    .rating-msg{
        font-size: 0.7em;
    }
    .total-rating{
        font-size: 0.7em;
        padding: 3px 5px;
    }
}

@media screen and (max-width: 362px){
    .rdws-icon{
        width: 35px;
        height: 35px;
    }
    .rdws-info{
        font-size: 0.74em;
    }
}