*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    overflow: hidden;
    background-color: transparent;
}
.container1{
  width: 97%;
  height: 475px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-top: 1em;
  overflow: hidden;
}
.Furniture-banner{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    overflow: hidden;
    background-color: transparent;
}
.Furniture-banner img{
    width:100%;
    height:230px;
    cursor:pointer;
}
::-webkit-scrollbar {
    height: 5px;
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: transparent;
  }
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 8px;
  }
::-webkit-scrollbar-thumb:hover {
    background: #808080;
  }
.homepage-products-display{
    width: 97%;
    height: 440px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: transparent;
}
.homepage-products-display ul{
    display: inline-flex;
    list-style: none;
    margin: 8px;
}
.homepage-products-display ul li{
    margin-left: 13px;
    margin-right: 13px;
}
.homepage-product-slider-header{
  width: 380px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 4px 18px;
}
.today-deal-title {
  width: auto;
  height: 100%;
  font-size: 1.5em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 9px 0;
}
.see-more{
  width: auto;
  height: 30px;
  text-align: left;
  border: none;
  outline: none;
  background-color: transparent;
  color: blue;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer;
  padding: 3px;
  margin: 22px 0 0 18px;
}
.see-more:hover{
  color: red;
}
.count-down{
  width: auto;
}

@media screen and (max-width: 430px){
  .homepage-products-display{
    width: 100%;
  }
  .homepage-products-display ul {
    margin: 8px 0;
  }
  .Furniture-banner img{
     width: 95%;
     height: 140px;
  }
  .homepage-product-slider-header{
    justify-content: space-between;
  }
  .today-deal-title{
    font-size: 1.5em;
  }
}

@media screen and (max-width: 395px){
  .homepage-products-display{
    width: 100%;
  }
  .homepage-products-display ul {
    margin: 8px 15px;
  }
  .Furniture-banner img{
     width: 95%;
     height: 140px;
  }
} 

@media screen and (max-width: 380px){
  .homepage-products-display{
    width: 100%;
  }
  .homepage-products-display ul {
    margin: 8px 6px;
  }
  .Furniture-banner img{
     width: 95%;
     height: 140px;
  }
}


@media screen and (max-width: 362px){
  .homepage-products-display{
    width: 100%;
  }
  .homepage-products-display ul {
    margin: 8px 0px;
  }
  .Furniture-banner img{
     width: 95%;
     height: 140px;
  }
}